<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {{ if .Site.Data.social }}
            {{ partial "social.html" . }}
          {{ end }}
          {{ with .Site.Params.footer.copyright_text }}
            <div class="copyright">{{ . | safeHTML }}</div>
          {{ end }}
        </div>
        <div class="acknowledgements">
          DERIVA has been funded by USC Information Sciences Institute and the National Institute of Health (NIH) via grants<br/> 5U24DK110814, 1U01DK107350, 5U01DE024449, 5R01MH107238, SUS4EB020406, P41-EB01592-19 and the GPCR Consortium.
        </div>
      </div>
    </div>
  </div>
</div>
